@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 15px 0px 15px 15px;
}

body{
    background-color: rgba(128, 128, 128, 0.3);
}

/* Logo and Title */
.logo{
    vertical-align:middle;
}

.logo-title{
    display: inline-block;
    vertical-align:middle;
    font-size: 40px;
}

/* Container */
.container{
    background-color: white;
    margin: 30px auto;
    width: 1000px;
    border-radius: 5px;
}

/* Task menager */
.cont-buttons{
    padding: 10px 50px 10px 50px ;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(128, 128, 128, 0.3);
}

.style-button{
    padding: 8px;
    border-radius: 6px;
    font-weight: 600;
}

.blue-button{
    color: white;
    background-color: #007aff;
    border-color: #007aff;
}

.white-button{  
    background-color: transparent;  
    color: rgba(128, 128, 128, 0.5);
    border-color: rgba(128, 128, 128, 0.5);
}

/* List */

.container-tasks{
    padding: 50px;
}

.title-tasks{
    margin-bottom: 20px;
    vertical-align: middle;
    list-style: none;   
}

.tasks{
    font-size: 20px;
    line-height: 2.5;
    list-style-type: none
}

.arrowhead{
    font-size: 15px;
}

.title-tasks h3{
    display: inline-block;
}

.w-check{
    font-size: 15px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 5px;
    padding-left: 3px;
}

.w-cross{
    font-size: 15px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    margin-right: 5px;
    padding-left: 2px;
}


.box-tasks{
    box-sizing: content-box;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 25px;
    color: white;
}

/* Color Box */

.blue{
    background-color: #007aff;
}

.purple{
    background-color: #5856d6;
}

.green{
    background-color: #4cd964;
}

.orange{
    background-color: #ff9500;
}

.pink{
    background-color: #ff2d55;
}

.yellow{
    background-color: #ffcc00;
}