*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 15px 0px 0px 15px;
}

/* Logo and Title */
.logo{
    vertical-align:middle;
}

.logo-title{
    display: inline-block;
    vertical-align:middle;
}